<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajax</title>
    <script src="/jq/jquery-3.3.1.min.js"></script>
    <script>
        function ajax_api(url, data, result_callback) {
            $.ajax({
                url: url,
                type: "post",
                dataType: "json",
                data: data,
                success: function(result) {
                    console.log('http success to get result', result)
                    result_callback('ok', result);
                },
                error: function(result) {
                    console.log('http fail to get result', result)
                    result_callback('http_err', "http error");
                }
            });
        }
        function a(id, result_callback) {
            ajax_api("192.168.187.110:8080/user/showUser?id=" + id, {id: id}, result_callback);
        }
    </script>
</head>
<body>
<input name="id" type="text" size="20px" placeholder="请输入id"/>
<input type="button" value="搜索" onclick="a(2,result_callback)"/>
<p>a()</p>
</body>
</html>